<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>CompanyLogoScene</string>
		<string>GameLogoScene</string>
		<string>GameMenuScene</string>
		<string>SettingsScene</string>
		<string>CharacterShopScene</string>
		<string>AchievmentsScene</string>
		<string>WorldSelectionScene</string>
		<string>World1Scene</string>
		<string>World2Scene</string>
		<string>World3Scene</string>
		<string>World1GameScene</string>
		<string>World2GameScene</string>
		<string>World3GameScene</string>
		<string>GameCenterLoginScene</string>
		<string>ResetGameScene</string>
		<string>CreditsScene</string>
		<string>Help1Scene</string>
		<string>Help2Scene</string>
		<string>GameScoreScene</string>
		<string>WrongScene</string>
		<string>HelperClass</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
